.faq{
    background-color: var(--white);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 11em;
    padding: 2em;
    width: 19.5em;
}

@media screen and (min-width: 1440px) {
    .faq{
        width: 33em;
    };
}